/* Global Style */
body {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}

.btn {
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 20px 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

/* Hero Section Styles */
.hero-section {
    background: rgba(229, 84, 115, 0.10);
}

.banner-section {
    padding: 50px 200px 0px 200px;
    display: flex;
    align-items: center;
}

.banner-img {
    width: 600px;
}

.main-content h1 {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-top: 50px;
    margin-bottom: 32px;
}

.main-content p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}

/* Featured Section Style */
.featured {
    margin-top: 150px;

}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.section-des {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 50px;
}

.featured-photo-container {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.photo-container1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
}

.photo-container2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
}

.photo-container3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
}

.img1 {
    padding: 110px 75px 0px 75px;
}

.img2 {
    padding: 117px 47px 117px 47px;
}

.img3 {
    padding: 68px 75px 0px 75px;
}

.featured-title {
    display: flex;
    justify-content: space-evenly;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}

/* Service Section Styles */
.service-info-container {
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 85px 100px;
    max-width: 1250px;
    margin: 150px auto;
}

.service-info {
    text-align: center;
}

.service-description {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

/* Hot Deal Section Style */
.hotdeal-container {
    display: flex;
    border-radius: 8px;
    justify-content: space-between;
    background: rgba(229, 84, 115, 0.05);
    padding: 100px 200px;
    margin-top: 100px;
}

.hotdeal-info {
    text-align: center;
    padding: 100px;
}

.image {
    width: 318px;
    height: 420px;
}

.section-title span {
    color: #E55473;
}

/* Instagram Section Styles */
.instagram-container {
    margin: 100px auto;
}

.gallary {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 0px;
}

/* Latest Deals Section */
.latest-deal-container {
    border-radius: 8px;
    background-image: url('./images/rectangle9.png');
    background-repeat: no-repeat;
    background-position: center;
    text-emphasis: center;
    padding: 120px 285px;
    margin-top: 150px;
}

.subscribe {
    display: flex;
    justify-content: center;
}

.subscribe input {
    padding: 22px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;


}

.enter-mail {
    border-radius: 8px;
    background: #FFF;
    border: none;
    width: 500px;
    margin-right: 16px;
}

#latestdes {
    margin-top: -30px;
}

#btn-color {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Testimonial Section Design */

.testimonilas {
    margin-top: 150px;
    border-radius: 8px;
    padding: 50px;
    padding-bottom: 115px;
    background: rgba(229, 84, 115, 0.05);
}

.testimonial-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 24px;
}

.test {
    padding: 30px 22px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    background-image: url('./images/pngwing\ 6.png');
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: right bottom;

}

.avtimg {
    width: 100px;
    margin-bottom: 0px;
}

.name {
    color: #272727;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 5px;
}

.test-des {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 5px;
}

/* footer section design */
.footer {
    background: #111010;
}

.footer-sec {
    text-align: center;
    padding: 125px 500px;
    margin-top: 150px;
}

.footer-logo {
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.footer-logo span {
    color: white;
}

.footer-des {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.footer-end {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-top: 32px;
}